default:
    suites:
        default:
            formatter:
                name: progress
    extensions:
        MageTest\MagentoExtension\Extension: ~
        Behat\MinkExtension\Extension:
            base_url: test.magento.loc
            goutte:
                server_parameters: ~
